header {
    background-color:lightsteelblue;
    padding: 10px ;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

header .logo img {
    width: 100px;

    border-radius: 200px;
    }